/* =====================================================
   GLOBAL HEADER
   FILE : style.css
   DESCRIPTION : Header Component
   VERSION : 1.0.0
===================================================== */


/* =====================================================
   HEADER
===================================================== */

#global-header{

    width:100%;

    margin-top:16px;

    margin-bottom:16px;

}


/* =====================================================
   BANNER
===================================================== */

#header-banner{

    width:100%;

    height:auto;

    display:block;

    border-radius:24px;

    box-shadow:

        0 8px 24px

        rgba(15,23,42,.08);

}


/* =====================================================
   RESPONSIVE
===================================================== */

@media(

    min-width:768px

){

    #global-header{

        max-width:900px;

        margin:

            0 auto

            24px;

    }

}
