/*==================================
    Payroll
==================================*/


/*==================================
    Layout
==================================*/

#payroll{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}


#pay-main{

    flex:1;

}


/*==================================
    Header
==================================*/

#pay-header{

}


/*==================================
    Tab Navigation
==================================*/

#pay-tab-navigation{

}


/*==================================
    Home
==================================*/

#pay-home{

}


#pay-hero-section{

}


#pay-today-summary-section{

}


#pay-input-section{

}


#pay-recent-activity-section{

}


/*==================================
    Statistik
==================================*/

#pay-statistics{

}


#pay-filter-section{

}


#pay-statistics-summary-section{

}


#pay-chart-section{

}


#pay-history-section{

}


#pay-export-section{

}


/*==================================
    Ringkasan
==================================*/

#pay-summary{

}


#pay-summary-section{

}


#pay-payslip-section{

}


#pay-income-section{

}


#pay-deduction-section{

}


#pay-take-home-pay-section{

}


/*==================================
    Responsive
==================================*/
