/*==================================
    Profile
==================================*/


/*==================================
    Layout
==================================*/

#profile{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}


#pro-main{

    flex:1;

}


/*==================================
    Header
==================================*/

#pro-header{

}


/*==================================
    Login
==================================*/

#pro-login-section{

}


#pro-login-hero{

}


#pro-google-login-button{

}


/*==================================
    Dashboard
==================================*/

#pro-dashboard-section{

}


/*==================================
    Hero
==================================*/

#pro-hero-section{

}


/*==================================
    Active Apps
==================================*/

#pro-active-app-section{

}


/*==================================
    Theme
==================================*/

#pro-theme-section{

}


/*==================================
    Setting
==================================*/

#pro-setting-section{

}


/*==================================
    Sync
==================================*/

#pro-sync-section{

}


/*==================================
    Logout
==================================*/

#pro-logout-section{

}


#pro-logout-button{

}


/*==================================
    Responsive
==================================*/
