<!-- =====================================================
     PROFILE COMPONENT
===================================================== -->

<main id="profile-component">

    <!-- ==========================================
         LOGIN
    ========================================== -->

    <section

        id="profile-login"

        class="hidden"

    >

    </section>

    <!-- ==========================================
         DASHBOARD
    ========================================== -->

    <section

        id="profile-dashboard"

        class="hidden"

    >

        <!-- ==========================================
             USER
        ========================================== -->

        <section id="profile-user">

        </section>

        <!-- ==========================================
             WORKSPACE
        ========================================== -->

        <section id="profile-workspace">

        </section>

        <!-- ==========================================
             MENU
        ========================================== -->

        <section id="profile-menu">

        </section>

        <!-- ==========================================
             LOGOUT
        ========================================== -->

        <section id="profile-logout">

        </section>

    </section>

</main>
