/* =====================================================
   HEADER
   FILE : header.css
   VERSION : 1.0.0
===================================================== */

/* =====================================================
   HEADER
===================================================== */

#app-header{

    position:relative;

    overflow:hidden;

    padding:32px 28px 48px;

    background:#FFFFFF;

}


/* =====================================================
   CONTENT
===================================================== */

#header-content{

    position:relative;

    z-index:2;

    display:flex;

    justify-content:center;

    align-items:center;

}


#app-title{

    margin:0;

    text-align:center;

    font-size:34px;

    font-weight:800;

    color:#0F172A;

}

#workspace{

    margin-top:10px;

    display:flex;

    align-items:center;

    gap:10px;

}


#workspace-title{

    font-size:18px;

    font-weight:600;

    color:#334155;

}


.wave{

    color:#2563EB;

    font-size:18px;

    font-weight:700;

}

/* =====================================================
   HEADER WAVE
===================================================== */

#header-wave{

    position:absolute;

    left:0;

    right:0;

    bottom:0;

    height:150px;

    overflow:hidden;

}

#header-wave svg{

    width:100%;

    height:100%;

    display:block;

}


    
