<!-- =====================================================
     Finance Assistant
     Component    : Global Loading
     File         : index.html
     Version      : 2.0.0

     Description :
     Simple Full Screen Loading
===================================================== -->

<div
    id="global-loading"
    class="global-loading is-hidden"
    aria-hidden="true">

    <div class="global-loading-content">

        <div class="global-loading-icon">
            ✅
        </div>

        <div class="global-loading-text">
            Tunggu sebentar
        </div>

    </div>

</div>
