/*==================================
    Saving
==================================*/


/*==================================
    Layout
==================================*/

#saving{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}


#sav-main{

    flex:1;

}


/*==================================
    Header
==================================*/

#sav-header{

}


/*==================================
    Tab Navigation
==================================*/

#sav-tab-navigation{

}


/*==================================
    Home
==================================*/

#sav-home{

}


#sav-hero-section{

}


#sav-balance-summary-section{

}


#sav-transaction-input-section{

}


#sav-saving-setting-section{

}


/*==================================
    Statistik
==================================*/

#sav-statistics{

}


#sav-filter-section{

}


#sav-chart-section{

}


#sav-transaction-detail-section{

}


/*==================================
    Ringkasan
==================================*/

#sav-summary{

}


#sav-personal-saving-section{

}


#sav-shared-saving-section{

}


#sav-goal-summary-section{

}


#sav-storage-summary-section{

}


/*==================================
    Responsive
==================================*/
